
GO
CREATE OR ALTER PROCEDURE [dbo].[GetAvailableMonths]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DISTINCT 
        FORMAT(TransactionDate, 'yyyy-MM') AS Value,
        FORMAT(TransactionDate, 'MMMM yyyy') AS Label
    FROM Transactions
    ORDER BY Value DESC;
END;